# https://editorconfig.org/
root = true

[*.ebuild,*.xml]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[*.patch]
trim_trailing_whitespace = false
